http://192.168.20.169 {
        root * /var/www/html
        encode zstd gzip
        php_fastcgi wordpress:9000
        file_server
        tls internal {
                protocols tls1.2 tls1.3
        }

        log {
            output file /var/log/caddy/example.access.log {
                roll_size 10mb
                roll_keep 5
                roll_keep_for 720h
            }
        }
}